name: test-action

on:
  workflow_dispatch:
    inputs:
      trial_name:
        description: 'trial name variable'
        required: false

jobs:
  open:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Verify syntax
      run: |
        set -x
        echo some command \
          ${{ github.event.inputs.trial_name=='' && format('slack_token={0}', env.MY_VAR) || '' }} \
          more params
      env:
        MY_VAR: TOKEN
