name: test

on:
  workflow_dispatch:
    inputs:
      trial_name:
        description: "Short name for this trial build, for prefixing the uploaded data and results files. WARNING: without this we will overwrite files in s3://nextstrain-ncov-private and the trees on nextstrain.org/ncov/gisaid..."
        required: false

env:
  TRIAL_NAME: ${{ github.event.inputs.trial_name }}

jobs:
  test-job:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Launch build
      run: |
        set -x

        declare -a config
        if [[ "$TRIAL_NAME" ]]; then
          config+=(
            S3_DST_BUCKET=nextstrain-ncov-private/trial/"$TRIAL_NAME"
            deploy_url=s3://nextstrain-staging/
            auspice_json_prefix=ncov_gisaid_trial_"$TRIAL_NAME"
          )
        else
          config+=(slack_token="slack_token_here")
        fi

        echo nextstrain build \
          --aws-batch \
          --cpus 36 \
          --memory 70GiB \
          . \
            deploy \
            upload \
            --config "${config[@]}" \
            --profile nextstrain_profiles/nextstrain-gisaid \
            --set-threads tree=16 \
        |& tee build-launch.log
      

    - name: Build info
      run: |
        echo ${{ github.event.inputs.trial_name=='' && '--> When this job completes, a phylogenetic rebuild will be triggered' || '--> This is a trial build, and as such won\''t trigger a phylogenetic rebuild' }}

